name: data
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: {}
  push:
    paths:
      - .github/workflows/flat.yml
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denolib/setup-deno@v2
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch data
        uses: githubocto/flat@v2
        with:
          http_url: https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-json/dpc-covid19-ita-andamento-nazionale.json
          downloaded_filename: andamento-nazionale-covid.json
      - name: Fetch data
        uses: githubocto/flat@v2
        with:
          http_url: https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/somministrazioni-vaccini-summary-latest.json
          downloaded_filename: andamento-nazionale-vaccini.json
      - name: Fetch data
        uses: githubocto/flat@v2
        with:
          http_url: https://raw.githubusercontent.com/imcatta/restrizioni_regionali_covid/main/dataset.json
          downloaded_filename: andamento-nazionale-colori.json
